<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>798120056099-r9g8oekbkh5cc2s9g6mid2ml07ud11ai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798120056099-r9g8oekbkh5cc2s9g6mid2ml07ud11ai</string>
	<key>API_KEY</key>
	<string>AIzaSyBdnlR-o36EGHkVlppTyPG_zpBvzoaal5o</string>
	<key>GCM_SENDER_ID</key>
	<string>798120056099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.zyzo.Spendid</string>
	<key>PROJECT_ID</key>
	<string>spendid-71932</string>
	<key>STORAGE_BUCKET</key>
	<string>spendid-71932.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:798120056099:ios:7122cea671b82c2c</string>
	<key>DATABASE_URL</key>
	<string>https://spendid-71932.firebaseio.com</string>
</dict>
</plist>